
<h1>Restaurants</h1>


<ul>
  <% @restaurants.each do |restaurant| %>
  <li> <strong>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </strong>
  <%= restaurant.address %>
  <%= restaurant.phone_number %>
  <%= restaurant.category %>
</li>

<% end %>
</ul>

<li>
  <%= link_to 'Create a new restaurant', new_restaurant_path, class: "btn btn-primary" %>
</li>



<p>Find me in app/views/restaurants/index.html.erb</p>

